<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Attendance System</title>
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.js"></script>
    <link rel="stylesheet" href="static\css\index.css" />
  </head>
  <body>
    <h2>Scan QR Code to Mark Attendance</h2>
    <video id="video" autoplay></video>
    <canvas id="canvas" hidden></canvas>

    <script src="static\index.js"></script>
  </body>
</html>
